.login {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.login .overlap-wrapper {
    background-color: #ffffff;
    overflow: hidden;
    width: 1440px;
    height: 1070px;
}

.login .overlap {
    position: relative;
    width: 1442px;
    height: 1072px;
    top: -1px;
    left: -1px;
    background-color: #4880ff;
}

.login .shape {
    position: absolute;
    width: 1440px;
    height: 1070px;
    top: 1px;
    left: 1px;
}

.login .input {
    position: absolute;
    width: 630px;
    height: 735px;
    top: 198px;
    left: 431px;
    background-color: #ffffff;
    border-radius: 24px;
    border: 0.3px solid;
    border-color: #b8b8b8;
}

.login .details {
    position: relative;
    width: 520px;
    height: 513px;
    top: 90px;
    left: 57px;
}

.login .button-compose {
    position: absolute;
    width: 420px;
    height: 56px;
    top: 457px;
    left: 49px;
}

.login .overlap-group {
    position: relative;
    height: 58px;
    top: -1px;
    left: -1px;
    border-radius: 8px;
}

.login .rectangle {
    position: absolute;
    width: 420px;
    height: 58px;
    top: 0;
    left: 0;
    background-color: #4880ff;
    border-radius: 8px;
    opacity: 0.9;
}

.login .text-wrapper {
    position: absolute;
    top: 16px;
    left: 178px;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    letter-spacing: -0.07px;
    line-height: normal;
}

.login .password {
    position: absolute;
    width: 520px;
    height: 96px;
    top: 257px;
    left: 0;
}

.login .div {
    position: absolute;
    width: 516px;
    height: 56px;
    top: 40px;
    left: 0;
    background-color: #f1f4f9;
    border-radius: 8px;
    border: 1px solid;
    border-color: #d7d7d7;
}

.login .img {
    position: absolute;
    width: 164px;
    height: 14px;
    top: 20px;
    left: 15px;
}

.login .text-wrapper-2 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 600;
    color: #202224;
    font-size: 18px;
    letter-spacing: -0.06px;
    line-height: normal;
}

.login .text-wrapper-3 {
    position: absolute;
    top: 0;
    left: 370px;
    opacity: 0.6;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 600;
    color: #202224;
    font-size: 18px;
    text-align: right;
    letter-spacing: -0.06px;
    line-height: normal;
}

.login .email {
    width: 520px;
    height: 96px;
    top: 121px;
    position: absolute;
    left: 0;
}

.login .esteban-schiller-gma {
    position: absolute;
    top: 15px;
    left: 15px;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 600;
    color: #a6a6a6;
    font-size: 18px;
    letter-spacing: -0.06px;
    line-height: normal;
}

.login .text-wrapper-4 {
    position: absolute;
    top: 0;
    left: 133px;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 700;
    color: #202224;
    font-size: 32px;
    letter-spacing: -0.11px;
    line-height: normal;
}

.login .please-enter-your-em {
    position: absolute;
    top: 59px;
    left: 57px;
    opacity: 0.8;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 600;
    color: #202224;
    font-size: 18px;
    letter-spacing: -0.06px;
    line-height: normal;
}